*.*~


.*.*.swp

.*.swp

.*.*.un~

#.ipynb_checkpoints/

*.log

Banana_Linux/Banana_Data/

Banana_Linux/Banana.x86

Banana_Linux.zip

doc/mk

doc/mk~

doc/*.tex

Navigation_Pixels_backup.ipynb

__pycache__/
